/Backend-TurnoNoche/nbproject/private/
/Backend-TurnoNoche/build/
/Backend-TurnoNoche/dist/
/Eje1-Guia7/nbproject/private/
/Eje1Guia7/nbproject/private/
/Eje1Guia7/build/
/Eje2Guia7POO/nbproject/private/
/Eje2Guia7POO/build/
/Eje3Guia7POO/nbproject/private/
/Eje3Guia7POO/build/
/Eje4Guia7POO/nbproject/private/
/Eje4Guia7POO/build/
/Eje1Guia7Extras/nbproject/private/
/Eje1Guia7Extras/build/
/Eje2Guia7Extras/nbproject/private/
/Eje3Guia7Extras/nbproject/private/
/Eje4Guia7Extras/nbproject/private/
/Eje5Guia7Extras/nbproject/private/
/Eje6Guia7Extras/nbproject/private/
/Eje2Guia7Extras/build/
/Eje3Guia7Extras/build/
/Eje4Guia7Extras/build/
/Eje5Guia7Extras/build/
/Eje6Guia7Extras/build/